@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}


header {
    background-color: transparent;
    max-width: 1440px;
    width: 100%;
    padding: 30px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    margin: 0 auto;
    display: flex;
    transform: translateX(-10%)
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

.logo img {
    height: 32px;
}